.comment-scroll {
  max-height: 320px;
  overflow-y: auto;
  padding-right: 5px;
  scrollbar-width: thin;
  scrollbar-color: #ffffff #ffffff;
}

.comment-scroll::-webkit-scrollbar {
  width: 6px;
}

.comment-scroll::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 5px;
}

.comment-scroll::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ffffff;
}

.tooltip-text {
  visibility: hidden;
  background: #000;
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
  position: absolute;
  top: -20px;
  left: -50px;
  transform: translateX(-50%);
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease;
}

/* Show tooltip ONLY when image is hovered */
.cursor-pointer:hover+.tooltip-text {
  opacity: 1;
  visibility: visible;
}