.fs-15 {
    font-size: 12px;
}

.text-fade {
    font-size: 12px;
    /* display: inline-block; */
    color: #6c757d;
}

.text-muted {
    font-size: 12px;
    display: inline-block;
    color: #6c757d;
}

